.accordion-section .container h3 {
  text-align: center;
}

.accordion-section .container .accordion-section-header-text {
  width: 50%;
  color: #9194a1;
  margin: auto;
  text-align: center;
}

.accordion-section .container .accordion {
  width: 50%;
  margin: auto;
}

.accordion-section .container .accordion .accordion-slide {
  border-top: 1px solid #9194a1;
  cursor: pointer;
  padding: 15px 10px 15px 10px;
}

.accordion-section .container .accordion .accordion-slide .accordion-slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion-section .container .accordion .accordion-slide .accordion-answer {
  max-height: 0;
  overflow: hidden;
  color: #9194a1;
  -webkit-transition: 0.5s max-height ease-in-out;
  transition: 0.5s max-height ease-in-out;
}

.accordion-section .container .accordion .accordion-slide:hover span {
  text-decoration: underline;
}

.accordion-section .container a {
  color: white;
  text-decoration: none;
  background-color: #5368df;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 10px 20px 10px 20px;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.accordion-section .container a:hover {
  background-color: #7e8ee7;
}

@media screen and (max-width: 768px) {
  .accordion-section .container {
    width: 100% !important;
    overflow: visible;
  }
  .accordion-section .accordion-section-header-text {
    width: 100% !important;
  }
  .accordion-section .accordion {
    width: 100% !important;
    overflow: visible;
  }
  .accordion-section .accordion .accordion-slide-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 100% !important;
  }
  .accordion-section .accordion .accordion-slide {
    overflow: visible;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .accordion-section .accordion .accordion-slide span {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
}

.footer-upper-section {
  background-color: #5368df;
  color: white;
  text-align: center;
}

.footer-upper-section p {
  letter-spacing: 5px;
}

.footer-upper-section h2 {
  width: 450px;
  margin: auto;
}

.footer-upper-section .email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
  margin: auto;
}

.footer-upper-section input {
  border: none;
  border-radius: 5px;
  padding: 6px;
  outline: none;
  width: 320px;
}

.footer-upper-section a,
.footer-upper-section a:visited,
.footer-upper-section a:link {
  padding: 10px 20px 10px 20px;
  border-radius: 6px;
  background-color: #fa5757;
  color: white;
  -webkit-transition: 0.3s ease-in-out background-color;
  transition: 0.3s ease-in-out background-color;
  text-decoration: none;
}

.footer-upper-section a:hover {
  background-color: #fb8888;
}

footer {
  background-color: #252b46;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .footer-flex-primary {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
}

footer .container .footer-flex-primary a {
  font-size: 0.85rem;
  color: white;
  letter-spacing: 2px;
}

footer .container .footer-flex-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
}

@media screen and (max-width: 768px) {
  .footer-upper-section h2 {
    width: 100% !important;
  }
  .footer-upper-section .email-form {
    width: 100% !important;
  }
  .footer-upper-section .email-form input {
    width: 60%;
  }
  footer .container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  footer .container .footer-flex-primary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  footer .container .footer-flex-primary a,
  footer .container .footer-flex-primary img {
    margin-bottom: 15px !important;
  }
}

@media screen and (max-width: 450px) {
  .email-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .email-form input {
    width: 100% !important;
    margin-bottom: 15px;
  }
}

.download-extentions .container .grid {
  height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
}

.download-extentions .container .grid .card {
  padding-top: 30px;
  padding-bottom: 30px;
  border: none;
  -webkit-box-shadow: 0px 0px 10px -5px;
          box-shadow: 0px 0px 10px -5px;
  border-radius: 7px;
  text-align: center;
  background-color: white;
  -webkit-transition: 0.3s ease-in-out background-color;
  transition: 0.3s ease-in-out background-color;
}

.download-extentions .container .grid .card p {
  color: #9194a1;
}

.download-extentions .container .grid .card hr {
  border-top: 5px dotted #9194a1;
}

.download-extentions .container .grid .card a,
.download-extentions .container .grid .card a:link,
.download-extentions .container .grid .card a:visited {
  color: white;
  text-decoration: none;
  background-color: #5368df;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 10px 20px 10px 20px;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.download-extentions .container .grid .card:hover {
  background-color: #5368df;
  color: white !important;
}

.download-extentions .container .grid .card:hover p {
  color: white !important;
}

.download-extentions .container .grid .card:hover a,
.download-extentions .container .grid .card:hover a:link,
.download-extentions .container .grid .card:hover a:visited {
  background-color: white;
  color: #5368df;
}

.download-extentions .container .grid .card:hover a:hover {
  background-color: #e6e6e6;
}

.download-extentions .container h3 {
  text-align: center;
}

.download-extentions .container p {
  color: #9194a1;
  text-align: center;
  margin: auto;
  width: 50%;
}

@media screen and (max-width: 992px) {
  .download-extentions p {
    width: 100% !important;
  }
  .download-extentions .grid {
    grid-column-gap: 20px !important;
  }
  .download-extentions .grid a {
    padding: 5px 10px 5px 10px !important;
  }
}

@media screen and (max-width: 768px) {
  .download-extentions .grid {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
    grid-row-gap: 50px;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}
